.container {
  padding: 0 75px;
  padding-top: 70px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 1, 0.38) 0%,
    rgba(52, 61, 73, 0.38) 100%
  );
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: var(--white);
  background: transparent;
  text-align: center;
}

.blockServices {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 634px;
  margin-top: 68px;
}

.blockCar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../../images/services/car.png);
  background-size: cover;
}

.blockTruck {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../../images/services/truck.png);
  background-size: cover;
}

.blockBtn {
    background-color: transparent;
}

.btn {
  border: 3px solid white;
  border-radius: 3px;
  padding: 16px 32px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
}

.btn:hover,
.btn:focus {
    background: white;
    color: black;
}
